{% extends 'blog/base.html' %}

{% block content %}
    <div id="aboutme">
    Line : mix-gypson <br><br>
    Instaram : <a href=https://instagram.com/mixtelecom8>www.instagram.com/mixtelecom8</a> <br><br>
    Email : <a href=https://mixtelecom8@gmail.com>mixtelecom8@gmail.com</a> <br><br>
    Facebook : <a href=https://www.facebook.com/TheGypson>https://www.facebook.com/TheGypson</a> <br><br>
    Twitter : <a href=https://twitter.com/Mix_Tera>https://twitter.com/Mix_Tera</a> <br><br>
    Github : <a href=https://github.com/5730279821-TA>https://github.com/5730279821-TA</a>  <br><br>
    </div>
{% endblock %}