<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="TeraML">
    <meta name="keywords" contents="TeraML">
    <link href="css/style.css" rel="stylesheet">
    <title>TeraML</title>
</head>

<body>
   <div id=wrapper>
    <header>
        <span id="logo"><a href="home.html"><img src="image/TeraML.png" height="80px"></a><span id="Wname">Tera_Machine_Learning</span></span>
    </header>
    
    <nav>
        <ul class="topnav" id="myTopnav">
            <li><a href="#All">All</a></li>
            <li><a href="#CT">Content</a></li>
            <li><a href="#WS">Work space</a></li>
            <li><a href="#AM">About me</a></li>
            <li class="icon">
                <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
            </li>
        </ul>
       
    </nav>

    <section>
    </section>

    <footer>
            You are beautiful in all you ways.
    </footer>
   </div>
</body>
</html>