body{
    background-color: #F9F5F3;
}

#wrapper{
    margin:0 auto;
    border: solid 1px #F1EDEC;
    background-color: #F1EDEC;
    width: 1200px;
    height: 2000px;
}

header{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-header{
    margin: 0 auto;
}


nav ul li{
    list-style: none;
    display: inline;
    margin-right:80pt;
}

nav{
    margin-top: 0;
    text-align: center;
    clear: both;
}

ul.topnav{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav{
    text-align: center;
    float: center;
}

ul.topnav li a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 50pt;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
}

ul.topnav li {
    margin-left: 10pt;
    margin-right: 10pt;
}

ul.topnav li a:hover{
    background-color: #555;
}

ul.topnav li.icon{
    display: none;
}

#Wname{
    font-size: 25pt;
}


footer{
    margin-top: 200px;
    text-align: center;
}